
body {
  color: black;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: white;
}
#foto {
  width: 150px;
  height: 150px;
  box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
}
#pageTitle {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
  grid-template-areas:
  'leftie rightie';
  grip-gap: 10px;
  width: 100%;
  background-color: DarkTurquoise;
  background-image: linear-gradient(white , deepskyblue, dodgerblue, deepskyblue, white);
}
#leftSide {
  grid-area: leftie;
  text-align: center;
  margin: 5px;
}
#rightSide {
  grid-area: rightie;
}
#details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas:
    'west north east';
  grid-gap: 0px;
  width: 100%;
  background-image: linear-gradient(white , deepskyblue, dodgerblue, dodgerblue, deepskyblue, white);
}
#left {
  grid-area: west;
  text-align: center;
  height: 100%;
}
#center {
  grid-area: north;
  text-align: center;
  height: 100%;
}
#right {
  grid-area: east;
  text-align: center;
  height: 100%;
}
.helloItem {
  color: black;
  font-family: 'Cagliostro', sans-serif;
  font-size: 45px;
  margin: 40px 0px 10px 0px;
  text-shadow: 0 0 4px #FFF;
}
.inCenter {
  text-align: center;
}
.invis {
  display: none;
}
.smallText {
  font-size: 12px;
  color: black;
}
.smallButton {
  border-radius: 5px;
  font-weight: bolder;
}
.smallButton:hover {
  transition: 0.5s;
  cursor: pointer;
}
#fiButton {
  background-color: white;
  color: navy;
  border-color: blue;
}
#fiButton:hover {
  background-color: navy;
  color: white;
  border-color: blue;
}
#enButton {
  background-color: blue;
  color: red;
  border-color: navy;
}
#enButton:hover {
  background-color: red;
  color: blue;
  border-color: blue;
}
#esButton {
  background-color: red;
  color: gold;
  border-color: crimson;
}
#esButton:hover {
  background-color: gold;
  color: red;
  border-color: blue;
}
.titles {
  font-weight: bold;
}
/*
@media (max-width: 600px) {
    .menut {
        font-size: 50%;
    }
}
*/
/* Animations */

.fadingIn {
  --colorFrom: 0;
  --colorTo: 100;
   -moz-animation: colorChange 6s; /* Firefox */
   -webkit-animation: colorChange 6s; /* Safari      and Chrome */
   -o-animation: colorChange 6s; /* Opera */
}
@keyframes colorChange {
    from { opacity: var(--colorFrom); }
    to { opacity: :var(--colorTo); }
}
@-moz-keyframes colorChange { /* Firefox */
    from { opacity: : var(--colorFrom); }
    to { opacity: : var(--colorTo); }
}
@-webkit-keyframes colorChange { /* Safari and Chrome */
    from {opacity: : var(--colorFrom); }
    to {opacity: : var(--colorTo);  }
}
@-o-keyframes colorChange { /* Opera */
    from { opacity: : var(--colorFrom); }
    to { opacity: : var(--colorTo); }
}
