@import url('https://fonts.googleapis.com/css?family=Courgette|El+Messiri');
@import url('https://fonts.googleapis.com/css?family=Anton|Audiowide');
@import url('https://fonts.googleapis.com/css2?family=Orbitron');
* {
  font-family: 'Audiowide', cursive;
  text-shadow: 0 0 2px black;
}
body {
  color: white;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: black;
}
#foto {
  width: 150px;
  height: 150px;
  box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
}
#pageTitle {
  display: grid;
  grid-template-columns: 20% 25% 25% 35%;
  grid-template-rows: 100%;
  grid-template-areas:
  'leftie centerie rightie rightie2';
  grip-gap: 10px;
  width: 100%;/*
  background-color: DarkTurquoise;
  background-image: linear-gradient(to right, navy , white, white, white);
*/
  border: 6px solid black;
  color: white;
}
#right2 {
  grid-area: rightie2;
  background-color: navy;
  text-shadow: 0 0 4px white;
  color: orange;
  /*
  background-image: linear-gradient(to right, dodgerBlue , dodgerBlue, dodgerBlue, black);
*/
  color: black;
}
#leftSide {
  grid-area: leftie;
  text-align: center;
  /*margin: 5px;*/
  background-color: navy;
  /*
  background-image: linear-gradient(to right, black , navy, navy, navy);
 */
}
#centerSide {
  background-color: navy;
  grid-area: centerie,
}
#rightSide {
  grid-area: rightie;
  background-color: navy;
  color: orange;
  text-shadow: 0 0 4px white;
}
#details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas:
    'west north east';
  grid-gap: 0px;
  width: 100%;
}
#left {
  grid-area: west;
  text-align: center;
  height: 100%;
  /*
  background-image: linear-gradient(to right, black , dodgerBlue, dodgerBlue, dodgerBlue);
  */
  background-color: dodgerBlue;
}
#center {
  grid-area: north;
  text-align: center;
  height: 100%;
  background-color: dodgerBlue;
}
#right {
  grid-area: east;
  text-align: center;
  height: 100%;
  /*
  background-image: linear-gradient(to left, black , dodgerBlue, dodgerBlue, dodgerBlue);
  */
  background-color: dodgerBlue;
  color: black;
}
.whiteText {
  color: white;
}
.english {
  padding: 1px;
  border: solid 2px black;
  height: 100%;
}
.dBbG {
  background-color: dodgerBlue;
}
.blackText {
  color: orange;
}
.violet {
  /*
  background-color: rgb(0, 102, 255);
 */
 background-color: rgb(0, 0, 77);
}
.empresa {
  font-weight: bold;
}
.navyBlue {
  background-color: navy;
}
/*
.helloItem {
  color: black;
  font-family: 'Cagliostro', sans-serif;
  font-size: 45px;
  margin: 40px 0px 10px 0px;
  text-shadow: 0 0 4px #FFF;
}
*/
.cvBox {
  padding: 5px;
}
.goldText {
  color: gold;
}
.myName {
  font-weight: bold;
  font-size: 30px;
  font-family: 'Orbitron';
  color: white;
}
.smallHeader {
  font-weight: bold;
  font-size: 20px;
}
.inCenter {
  text-align: center;
}
/*
.invis {
  display: none;
}
.smallText {
  font-size: 12px;
  color: black;
}
.smallButton {
  border-radius: 5px;
  font-weight: bolder;
}
.smallButton:hover {
  transition: 0.5s;
  cursor: pointer;
}
#fiButton {
  background-color: white;
  color: navy;
  border-color: blue;
}
#fiButton:hover {
  background-color: navy;
  color: white;
  border-color: blue;
}
#enButton {
  background-color: blue;
  color: red;
  border-color: navy;
}
#enButton:hover {
  background-color: red;
  color: blue;
  border-color: blue;
}
#esButton {
  background-color: red;
  color: gold;
  border-color: crimson;
}
#esButton:hover {
  background-color: gold;
  color: red;
  border-color: blue;
}
.titles {
  font-weight: bold;
}
*/
/*
@media (max-width: 600px) {
    .menut {
        font-size: 50%;
    }
}
*/
/* Animations */

.fadingIn {
  --colorFrom: 0;
  --colorTo: 100;
   -moz-animation: colorChange 6s; /* Firefox */
   -webkit-animation: colorChange 6s; /* Safari      and Chrome */
   -o-animation: colorChange 6s; /* Opera */
}
@keyframes colorChange {
    from { opacity: var(--colorFrom); }
    to { opacity: :var(--colorTo); }
}
@-moz-keyframes colorChange { /* Firefox */
    from { opacity: : var(--colorFrom); }
    to { opacity: : var(--colorTo); }
}
@-webkit-keyframes colorChange { /* Safari and Chrome */
    from {opacity: : var(--colorFrom); }
    to {opacity: : var(--colorTo);  }
}
@-o-keyframes colorChange { /* Opera */
    from { opacity: : var(--colorFrom); }
    to { opacity: : var(--colorTo); }
}
